/* variables */

$links-a-default: #000;
$links-a-hover: #B8860B;
$links-a-hover-bg: #666;
$links-hover-border: #4169E1;
$links-bg-default: #FFF;
$links-ul-border: #999;
$links-a-border: #CCC;
$links-a-bg: #EEE;
$links-highlight: #FFD700;